# folders
.venv/
.idea/
.vs/
__pycache__/
*/output/*
*/C/*
*/grade/*

# files types
*.xlsx
*.zip
*.exe
*.obj

# specific files
submit_error.txt



# --- EXCEPTIONS --- #
# Keep .gitkeep files to allow tracking empty directories (e.g., in Q2, Q3...)
!*/.gitkeep

# Keep specific example files ONLY in Q1 subdirectories
!Q1/C/example_student.c
!Q1/output/example_student.txt
!Q1/grade/example_student.txt


